body {
  width: 1000px;
  margin: 2em auto;
  font: 18px Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 44px
}

table {
  width: 100%;
  background-color: #f2f7f9;
  padding: 8px;
}

input {
 font-size: 30px;
}

span#sign {
  background-color: #aaffff;
  float: left;
}

#exp div {
  float: left;
  background-color: #00bfff;
}

#mantissa div {
  background-color: #0099cc;
  float: left;
}

td:first-child {
  width: 240px;
}

#exact-decoded-decimal {
  width: 700px;
  height: auto;
  word-wrap: break-word;
}

